.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's above other content */
}

.sectionBox {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 400px;
  height: 600px;
  overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 12px;
  /* Reduced margin */
}

.header {
  color: #154c79;
  font-size: 1.5em;
  margin-bottom: 10px
}

.logo {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.input {
  width: 100%;
  padding: 8px;
  /* Reduced padding */
  margin-top: 5px;
  border-radius: 4px;
  /* Slightly smaller radius */
  border: 1px solid #ccc;
}

.formButtons {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  background-color: #0e4296;
  color: white;
  padding: 8px 16px;
  /* Reduced padding */
  border: none;
  border-radius: 5px;
  transition: 0.15s;
  cursor: pointer;
}

.submitButton:hover,
.cancelButton:hover {
  opacity: 0.5;
}

.cancelButton {
  padding: 8px 16px;
  /* Reduced padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
}

.reportContent {
  display: flex;
  flex-direction: column;
}

.messageInput {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
}

.reportButton {
  background-color: #0e4296;
  font-size: 1em;
  padding: 10px 24px;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.15s;
  display: inline;
}

.reportButton:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .reportButton {
    background-color: #0e4296;
    font-size: 1em;
    padding: 10px 24px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    max-width: none;
    float: right;
  }
}

/* 

Container for the report form
.reportFormContainer {
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.reportFormContainer h2 {
  text-align: center;
  color: #0e4296;
  margin-bottom: 20px;
}


.reportFormContainer textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 16px;
  margin-bottom: 15px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.reportFormContainer button {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #0e4296;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reportFormContainer button:hover {
  background-color: #073269;
}

@media (max-width: 600px) {
  .reportFormContainer {
    padding: 15px;
    width: 90%;
  }

  .reportFormContainer textarea {
    height: 80px;
  }
} */