/* Report list styles */
.reportList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.reportList li {
  padding: 24px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow: hidden;
  scrollbar-gutter: stable;
}

.reportList li::-webkit-scrollbar {
  width: 6px;
}

.reportList li::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 12px 12px 0;
  overflow: hidden;
}

/* Handle */
.reportList li::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.reportList li::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.reportList li:hover {
  overflow: auto;
}

/* Report message styles */
.reportList li p {
  font-size: 16px;
  color: #333;
  word-wrap: break-word;
  margin-bottom: 0 !important;
  white-space: pre-line;
}

.reportHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}


/* Delete button styles */
.reportList li button {
  font-size: 14px;
  color: #e63946;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reportList li button:hover {
  color: rgba(214, 40, 40, 0.58);
}

/* No reports message */
.noReports {
  text-align: center;
  font-size: 16px;
  color: #777;
}