/* General container styles */

* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: white;
}

.searchContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}



/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 36px 24px 18px;
    background-color: #10346e;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.navTitle {
    font-size: 1.5rem;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 48px;
    height: 48px;
}

.subtitle {
    margin-top: -8px;
    font-size: 16px;
    font-weight: 400;
}

.titleflex {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    color: white;
}

.logoutIcon {
    width: 24px;
    height: 24px;
}

.logoutButton {
    display: flex;
    align-items: center;
    color: white;
    background-color: #063970;
    border: none;
    gap: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.15s;
}

.logoutButton:hover {
    transform: scale(1.05);
}

/* Main area styles */
.main {
    /* font-family: 'Arial', sans-serif; */
    background-color: white;
    margin-top: 96px;
    display: grid;
    grid-template-columns: auto 12fr;
    height: calc(100vh - 96px);
    /* Account for fixed navbar */
}

/* Sidebar styles */
.sidebar {
    background-color: #063970;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 96px);
}

.sidebarList {
    list-style: none;
    padding: 0;
}

.sidebarItem {
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-left: 4px solid transparent;
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* Align the icon and text */
}

.sidebarItem span {
    margin-left: 10px;
    /* Space between the icon and the text */
}

/* Hover effect */
.sidebarItem:hover {
    background-color: #0b5296;
    transform: scale(1.05);
    border-left: 4px solid #FFD700;
}

/* Active state */
.activeSidebarItem {
    background-color: #0b5296;
    color: #FFD700;
    border-left: 4px solid #FFD700;
}

.activeSidebarItem {
    background-color: #0b5296;
    color: #FFD700;
    border-left: 4px solid #FFD700;

}

/* Content styles */
.content {
    padding: 48px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tableHeader {
    background-color: #0e4296;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.tableRow:nth-child(even) {
    background-color: #e3f2fd;
}

.tableRow:nth-child(odd) {
    background-color: #bbdefb;
}

.tableCell {
    padding: 12px 16px;
    /* border: 1px solid ; */
    text-align: left;
    font-size: 14px;
}


/* Button styles */
.button {
    background-color: #0e4296;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px 5px;
    transition: background-color 0.3s;
}

.addCouncilButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #0e4296;
    color: white;
    font-size: 16px;
    padding: 8px 24px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.15s;
}

.addCouncilButton:hover {
    opacity: 0.7;
}

.addButton {
    background-color: #0e4296;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px 5px;
    margin-left: 20px;
}

.noEvents {
    text-align: center;
    color: #888;
    padding: 20px;
}

.sectionBox {
    overflow-x: auto;
}

.eventReqCont h2,
.upcomingEventsCont h2,
.councilsCont h2,
.usersCont h2,
.queriesCont h2 {
    color: #0e4296;
}

.eventReqCont p,
.upcomingEventsCont p,
.councilsCont p,
.usersCont p,
.queriesCont p {
    margin-bottom: 16px;
}

.searchWrap {
    position: relative;
    flex: 1;
}

.searchBar {
    padding: 8px 16px 8px 48px;
    width: 100%;
    font-size: 16px;
    border-radius: 24px;
    border: none;
    background-color: aliceblue;
    border: 1px solid rgb(200, 218, 234);
}

.searchBar:focus,
.searchBar:active {
    background-color: white;
    outline: none;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.searchIcon {
    position: absolute;
    font-size: 16px;
    left: 20px;
    top: 13px;
    color: gray;
}

.viewDocs {
    color: rgb(74, 0, 179);
    text-decoration: underline;
    cursor: pointer;
    transition: 0.15s;
}

.viewDocs:hover {
    color: rgb(74, 0, 179, 0.6);
    ;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.actions button {
    display: flex;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}

.actionFlex {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.requestActions,
.approvedActions {
    background-color: transparent;
    border: none;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    transition: 0.15s;
}

.approvedActions {
    font-size: 24px !important;
}

.requestActions:hover,
.approvedActions:hover {
    /* transform: scale(1.2); */
    opacity: 0.5;
}

.requestActions:first-child {
    color: #0e4296;
}

.requestActions:last-child,
.approvedActions {
    color: rgb(218, 54, 42);
}

.pen {
    color: #0e4296;
    transition: 0.3s;
}

.trash {
    color: rgb(250, 81, 95);
    transition: 0.3s;
}

.pen:hover,
.trash:hover {
    opacity: 0.3;
}

.queriesCont {}

/* Modal styles */
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.closeButton {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.menuBtn {
    display: none;
    font-size: 20px;
}

.logoMobileCont {
    display: none;
}

/* Modals */

.modal {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::backdrop {
    background-color: rgba(0 0 0 / 0.5);
}

.modalBox {
    padding: 36px 24px 24px 24px;
    text-align: center;
    max-width: 300px;
}

.modalIcon {
    margin-bottom: 8px;
    font-size: 72px;
    color: #0e4296;
}

.deleteIcon {
    color: rgb(232, 69, 57) !important;
}

.modalButtons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.modalButtons button:last-child {
    background-color: #0e4296;
    color: white;
}

.deleteBtn button:last-child {
    background-color: rgb(232, 69, 57) !important;
    color: white;
}


.modalButtons button {
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    border-radius: 8px;
}

.modalButtons button:hover {
    opacity: 0.5;
}

@media all and (max-width: 768px) {
    .navbar {
        padding: 16px;
    }

    .menuBtn {
        display: block;
    }

    .logoContainer {
        display: none;
    }

    .logoutButton p {
        display: none;
    }

    .main {
        margin-top: 56px;
        height: calc(100vh - 56px);
    }

    .sidenavOverlay {
        display: block;
        /* Ensure it's present for animation */
        position: fixed;
        z-index: 999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0 0 0 / 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    }


    .sidenavOverlay.mobile {
        opacity: 1;
        visibility: visible;
    }

    .sidebar {
        background-color: #063970;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        min-height: 100vh;
        width: 300px;
        position: fixed;
        top: 0;
        left: -300px;
        /* Start off-screen */
        transition: left 0.3s ease-in-out;
    }

    .sidenavOverlay.mobile .sidebar {
        left: 0;
        /* Slide in when active */
    }

    .logoMobileCont {
        display: flex;
        align-items: center;
        padding: 24px 20px;
    }

    .logoMobile {
        height: 48px;
        width: 48px;
    }

    .titleflex {
        margin-left: 8px;
        font-size: 12px;
        gap: 4px;
    }

    .title {
        font-size: 18px;
    }

    .subtitle {
        font-size: 14px;
    }

    /* Content styles */
    .content {
        padding: 24px;
    }

    .searchContainer {
        gap: 8px;
    }

    .addCouncilButton {
        padding: 12px;
        border-radius: 50%;
    }

    .addCouncilButton span {
        display: none;
    }

    .mobile {
        display: block;
    }




}