/* General container styles */
.container {
    background-color: #f9f9f9;
    padding: 48px 96px;
    margin-top: 96px;
}

/* FLOAT CONCILS ORGS styles */
.floatingDisplay {
    position: fixed;
    top: 10px;
    /* Adjust the top position as needed */
    right: 20px;
    /* Adjust the right position to be on the side */
    width: 400px;
    /* Width of the box */
    background-color: #fff;
    /* White background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Shadow around the box */
    border-radius: 8px;
    /* Rounded corners */
    padding: 15px;
    /* Padding inside the box */
    z-index: 999;
    /* Ensure it's above other content */
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navButton:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.floatingContent {
    position: relative;
    padding: 10px;
    background: white;
}

.closeButton {
    position: absolute;
    top: 1px;
    right: 1px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}



.floatingContent h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    /* Center the title */
}

.floatingContent p {
    margin: 5px 0;
}

.floatingContent img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Round the corners of the image */
    margin-top: 10px;
}

.floatingContent a {
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 96px;
    background-color: #063970;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

}

.logoContainer {
    display: flex;
    align-items: center;
}

.titleflex {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.subtitle {
    margin-top: -8px;
    font-size: 16px;
    font-weight: 400;
}

.logo {
    width: 48px;
    height: 48px;
}

.logoutIcon {
    width: 24px;
    height: 24px;
}

.logoutButton {
    display: flex;
    align-items: center;
    color: white;
    background-color: #063970;
    border: none;
    gap: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Content area */

.heroSection {
    min-height: 200px;
    display: flex;
    gap: 48px;
}

.welcomeCont {
    width: 600px;
    border-radius: 12px;
    padding: 48px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex-shrink: 1;
}

.headers {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headers h1 {
    font-size: 28px;
    max-width: 300px;
}

.getStartedBtn {
    font-size: 1em;
    padding: 10px 24px;
    width: 150px;
    background-color: #0e4296;
    color: white;
    border-radius: 8px;
    border: none;
    transition: 0.15s;
    cursor: pointer;
}

.getStartedBtn a {
    color: white;
    text-decoration: none;
}

.getStartedBtn:hover {
    opacity: 0.5;
}

.ssCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.firstContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* 3:1 width ratio */
    gap: 48px;
    /* Adjust spacing if needed */
    width: 100%;
    align-items: stretch;
    /* Ensures both children stretch equally */
}

.gradientOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 36px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.SecondContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.calendar {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 64px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calendar h1 {
    font-size: 24px;
    color: #0e4296;
    margin-bottom: 16px;
}

.upcomingEventsText {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 4px;
}

.eventDetails {
    font-size: 16px;
}


.editButton {
    float: right;
    /* Places the button on the right side */
    margin-right: 10px;
    /* Adds some spacing on the right */
    padding: 10px 15px;
    /* Adjusts the button's padding */
    background-color: #0e4296;
    /* Example background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover {
    background-color: #0c387d;
    /* Darken the button on hover */
}

/* Venue booklist container */
.venueBooklistContainer {
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 16px;
    margin-top: 48px;

}

.sidebarrContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;

}

.sidebarr {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    gap: 4px;
}

.sidebarr button {
    padding: 16px 8px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    background-color: #0e4296;
    color: white;
    transition: 0.15s;
    border-radius: 8px;
}

.sidebarr button:hover {
    background-color: #0e4296bc;

}

.councilHeader {
    color: #0e4296;
}


.newSidebarContainer {
    padding: 20px;
}



/* VMGO */
.mergedSection {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
    padding: 64px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.vgmoHeader {
    color: #154c79;
    margin-bottom: 8px;
}

.layoutContainer {
    display: block;
    gap: 36px;
    width: 100%;
}

.leftSection {
    max-height: 640px;
    background-color: white;
    padding: 64px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    color: #154c79;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sidebarContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 420px;
    gap: 24px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    gap: 4px;
    transition: 0.3s;
}

.sidebar:hover {
    overflow-y: scroll;
}

.sidebar button {
    padding: 16px 8px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    background-color: #0e4296;
    color: white;
    transition: 0.15s;
    border-radius: 8px;
    margin-right: 4px;
}

.sidebar button:hover {
    background-color: #0e4296bc;

}

.sidebarContent {
    width: 100%;
    transition: 0.3s;
    overflow: hidden;
}

.sidebarContent:hover {
    overflow-y: auto;
}

.position {
    text-transform: capitalize;
}

.vgmo:not(:last-child) {
    margin-bottom: 32px;
}

/* Modal overlay */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    width: 400px;
    height: 600px;
    overflow-y: auto;
}

/* Form group styles */
.formGroup {
    margin-bottom: 0px;
}

.formGroup:first-child {
    display: none;
}

.formGroup:nth-child(3) {
    display: none;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Modal overlay */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form group styles */
.formGroup {
    margin-bottom: 5px;
    /* Reduced margin to remove excess space */
}

.input {
    width: 100%;
    padding: 8px;
    /* Reduced padding */
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Slightly smaller radius */
}

/* Modal footer */
.modalFooter {
    display: flex;
    justify-content: space-between;
}

.submitButton,
.cancelButton {
    padding: 8px 15px;
    /* Reduced padding */
    border: none;
    cursor: pointer;
}

.submitButton {
    background-color: #0e4296;
    color: #fff;
}

.cancelButton {
    color: black;
}


.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #063970;
    color: #fff;
    border-top: 1px solid #ccc;
}

.timeGroup {
    display: flex;
    flex-direction: column;
    /* Stack the elements vertically */
}

.timeInput {
    padding: 5px;
    font-size: 14px;
}

label {
    font-size: 16px;
}

.timeFromGroup,
.timeToGroup {
    display: flex;
    gap: 10px;
    /* Space between the selects */
}

.timeFromGroup select,
.timeToGroup select {
    flex: 1;
    /* Make the select elements take equal width */
}


/* styles.module.css */

/* Modal backdrop */
.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensures it's above other content */
}

/* Modal content styling */
.modalContent {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    /* Reduced width */
    max-width: 80%;
    height: 600px;
    overflow-y: scroll;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modalHeader {
    color: #063970;
    margin-bottom: 8px;
    font-size: 24px;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
}

/* Form group styling */
.formGroup {
    margin-bottom: 8px;
}

.input {
    padding: 5px;
    margin-top: 1px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
}



/* Buttons styling */
.formButtons {
    display: flex;
    justify-content: space-between;
}

.submitButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton {
    background-color: #0e4296;
    color: white;
}

.cancelButton {
    background-color: #e0e0e0;
}

.submitButton:hover {
    background-color: #0c387d;
}

.cancelButton:hover {
    background-color: #c1c1c1;
}

.head {
    display: flex;
    align-items: center;
    gap: 16px;
}


.rightSection {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Add Event Styling */

.bookingCont {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 24px;
}

.eventVector {
    width: 100%;
    max-height: 400px;
}

.bookingHead {
    font-size: 2.5em;
    line-height: 1.25;
    margin-bottom: 8px;
    color: #063970;
}

.bookingSubhead {
    max-width: 500px;
    margin-bottom: 16px;
}

.addEventButton {
    background-color: #0e4296;
    font-size: 1em;
    padding: 10px 24px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.15s;
}

.addEventButton:hover {
    background-color: #0e4296bc;
}

.orgList {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.orgPosition {
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
}


/* Report Cont */

.reportCont {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 36px;
}


.mobileDropdownCont {
    display: none;
}

.councilMainHeader {
    color: #063970;
    margin-bottom: 16px;
}

.councilSubheader {
    display: block;
    font-size: 16px;
}

.councilSubheaderMobile {
    display: none;
}

.profileCont {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    margin-right: 8px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.iconCont {
    min-width: 16px;
    transition: 0.15s;
    cursor: pointer;
}

.iconCont:hover {
    opacity: 0.5;
}


.editIcon {
    margin-top: 6px;
    height: 16px;
    width: 16px;
}

.membersCont {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-size: 16px;
}

.membersCont strong {
    font-weight: 600;
}

.adviserImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    object-fit: cover;
    /* This will crop the image to maintain aspect ratio */
    border-radius: 50%;
    /* Optional: to give the image rounded corners */
}

.placeholderCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.placeholderCont p {
    color: #282828;
    text-align: center;
}

.placholderIcon {
    color: rgb(210, 210, 210);
    font-size: 64px;
}

@media all and (max-width: 1024px) {
    .navbar {
        padding: 24px 64px;
    }

    .container {
        padding: 48px 64px;
    }

    .heroSection {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 48px;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        gap: 24px;
    }

    .welcomeCont {
        width: 100%;
        box-shadow: none;
        order: 2;
        padding: 0;
    }

    .header {
        max-width: 320px;
    }

    .headers h1 {
        font-size: 28px;
        max-width: none;
    }

    .calendar {
        padding: 48px;
    }

    .bookingCont {
        padding: 48px;
    }

    .reportCont {
        padding: 48px;
    }

    .leftSection {
        padding: 48px;
    }

    .mergedSection {
        padding: 48px;
    }
}



@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        padding: 12px 32px;
    }

    .logo {
        width: 32px;
        height: 32px;
    }

    .titleflex {
        margin-left: 8px;
    }

    .title {
        font-size: 16px;
    }

    .subtitle {
        font-size: 12px;
    }

    .logoutButton {
        font-size: 12px;
    }

    .container {
        margin-top: 56px;
        padding: 32px;
    }


    .welcomeCont {
        padding: 0;
    }

    .bookingCont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px;
        gap: 48px;
    }

    .bookingContent {
        order: 2;
    }

    .illustrationCont {
        order: 1;
        align-self: center;
        width: 100%;
    }

    .eventVector {
        width: 100%;
        max-height: 400px;
    }

    .bookingHead {
        font-size: 24px;
    }

    .bookingSubhead {
        margin-bottom: 28px;
        max-width: none;
    }

    .buttonFlex {
        display: flex;
        justify-content: end;
    }

    .reportCont {
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 36px;
        padding: 48px;
    }

    .reportIllustration {
        width: 100%;
    }

    .leftSection {
        padding: 48px;
    }

    .mergedSection {
        padding: 48px;
    }

    .calendar {
        padding: 48px;
    }




    .firstContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* Adjust spacing if needed */
    }

    .upcomingEventsCard {
        max-width: 100%;
        /* Full width */
        min-width: 100%;
        /* Prevent shrinking */
    }

    .calendar {
        max-height: none;
    }

    .leftSection {
        max-height: none;
    }
}

@media screen and (max-width: 426px) {
    .navbar {
        padding: 16px;
        flex-direction: row;
    }

    .logo {
        height: 32px;
        width: 32px;
    }

    .titleflex {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        gap: 4px;
    }

    .logoutButton p {
        display: none;
    }

    .container {
        padding: 16px;
        margin-top: 67px;
    }

    .heroSection {
        padding: 24px;
        gap: 12px;
    }

    .getStartedBtn {
        width: 150px;
        align-items: flex-end;
    }

    .mergedSection {
        padding: 24px;
        text-align: left;
    }

    .vgmoHeader {
        font-size: 24px;
        text-transform: capitalize;
    }

    .bookingCont {
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 24px;
    }

    .bookingContent {
        order: 2;
    }

    .illustrationCont {
        order: 1;
    }

    .bookingHead {
        font-size: 24px;
    }

    .bookingSubhead {
        margin-bottom: 24px;
    }

    .buttonFlex {
        display: flex;
        justify-content: end;
    }

    .sidebarContainer {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: auto;
    }

    .sidebar {
        display: none;
    }

    /* .sidebarButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px!important;
        background-color: #003399; 
        color: white;
        border-radius: 8px;
        text-align: center;
        white-space: normal;          
        overflow: hidden;            
        text-overflow: ellipsis;     
        line-height: 1.2;         
        min-height: calc(1.4em * 2); 
        min-width: 40px;           
        max-width: 240px;
        flex-shrink: 0;              
    */

    .mobileDropdownCont {
        display: block;
        position: relative;
        width: 100%;
    }

    .councilSubheader {
        display: none;
    }

    .councilSubheaderMobile {
        display: block;
    }

    .mobileDropdown {
        padding: 8px 28px 8px 12px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        appearance: none;
        border-radius: 4px;
    }

    .downIcon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    .leftSection {
        padding: 24px;
    }



    .upcomingEventsCard {
        max-width: 100%;
        min-width: 100%;
    }

    /* .sidebarr,
    .sidebar {
        max-height: 300px;
    } */

    .footer {
        margin-top: 24px;
    }

    .footer p {
        font-size: 12px;
    }

    .calendar {
        max-height: none;
    }

    .leftSection {
        max-height: none;
    }

    .calendar {
        padding: 24px;
    }


    .reportCont {
        padding: 24px;
    }
}