.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 600px;
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.formButtons {
  display: flex;
  justify-content: space-between;
}

.header{
  color: #154c79;
  font-size: 1.5em;
  margin-bottom: 10px
}

.submitButton {
  background-color: #0e4296;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  transition: 0.15s;
  cursor: pointer;
}

.cancelButton {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
}


.submitButton:hover, .cancelButton:hover {
  opacity: 0.5;
}