/* ForgotPassword.module.css */
.forgotPasswordContainer {
    display: flex;;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .formCont{
    position: relative;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    width: 420px;
  }

  .head {
    margin-bottom: 16px;
  }

  .head h2 {
    font-size: 24px;
    font-weight: 700;
    color: #063970;
    margin-bottom: 4px;
    text-align: center;
  }

  .head p {
    font-size: 16px;
    text-align: center;
  }
  
  .forgotPasswordContainer input {
    padding: 10px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
  }

  .btnCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .button {
    padding: 12px 20px;
    background-color: #063970;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.15s;
  }

  .cancelbutton {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    transition: 0.15s;
    cursor: pointer;
  }
  
  .forgotPasswordContainer button:hover {
    opacity: 0.5;
  }
  
  .successMessage {
    color: #28a745; /* Green color for success */
  }
  
  .error {
    color: #dc3545; /* Red color for error */
    margin-bottom: 4px;
  }
  
@media all and (max-width: 426px) {
  .forgotPasswordContainer {
    background-color: white;
    padding: 0;
  }

  .formCont {
    box-shadow: none;
    padding: 24px;
  }
}