/* ForgotPassword.module.css */
.forgotPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .forgotPasswordContainer h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .forgotPasswordContainer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .forgotPasswordContainer input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 400px;
  }
  
  .forgotPasswordContainer button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .forgotPasswordContainer button:hover {
    background-color: #0056b3;
  }
  
  .forgotPasswordContainer p {
    margin-top: 15px;
    font-size: 1rem;
  }
  
  .successMessage {
    color: #28a745; /* Green color for success */
  }
  
  .errorMessage {
    color: #dc3545; /* Red color for error */
  }
  