/* General container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 30px 0px;
  padding: 48px 96px;
  background-color: #f5f5f5;
  margin-top: 96px;
}

.SecondContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.heroSection {
  min-height: 200px;
  display: flex;
  gap: 48px;
}


.welcomeCont {
  width: 600px;
  border-radius: 12px;
  padding: 48px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  flex-shrink: 1;
}

.headers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headers h1 {
  font-size: 28px;
  max-width: 300px;
}

.getStartedBtn {
  font-size: 1em;
  padding: 10px 24px;
  width: 150px;
  background-color: #0e4296;
  color: white;
  border-radius: 8px;
  border: none;
  transition: 0.15s;
  cursor: pointer;
}

.getStartedBtn:hover {
  opacity: 0.5;
}


.calendar {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 64px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calendar h1 {
  font-size: 24px;
  color: #0e4296;
  margin-bottom: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  gap: 4px;
}


/* .sidebarButton {
  padding: 10px;
  border: 1px solid #0e4296;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  color: #0e4296;
} */

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 96px;
  background-color: #063970;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

}

.mainContent {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.publicPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.titleflex {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.subtitle {
  margin-top: -8px;
  font-size: 16px;
  font-weight: 400;
}

.logo {
  width: 48px;
  height: 48px;
}

.loginIcon {
  width: 24px;
  height: 24px;
}

.loginButton {
  display: flex;
  align-items: center;
  color: white;
  background-color: #063970;
  border: none;
  gap: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Adjust container layout for responsiveness */
.firstContainer {
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping for smaller screens */
  gap: 36px;
  /* Reduced gap for smaller screens */
  justify-content: space-between;
  /* Space out items */
}

.slideshowCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Full width of the screen */
  aspect-ratio: 16 / 9;
  /* Maintain 16:9 ratio */
  max-width: 892px;
  /* Optional: limit maximum width if needed */
  margin: 0 auto;
  /* Center it horizontally */
}

.upcomingEventsImageContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
  /* Take the full height of slideshowCont */
  aspect-ratio: 16 / 9;
  /* Maintain the 16:9 ratio */
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.upcomingEventsImageContainer.fade {
  opacity: 0;
  /* Transparent during fade-out */
}

.upcomingEventImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* Gradient Overlay */
.gradientOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 36px;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent dark overlay */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.upcomingEventsText {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 8px;
  /* Adjusted for spacing */

}

.eventDetails {
  font-size: 16px;

}

.navButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #0e4296;
  padding: 0 10px;
}

.slideshowImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

.bold {
  font-weight: bold;
}


.horizontalLine {
  border-top: 2px solid #0e4296;
  /* Horizontal line with color */
  width: 100%;
  /* Make the line span the full width */
  margin-top: 20px;
  /* Add space above the line */
}

/* Merged section styles */
.mergedSection {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 16px;
  padding: 64px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.vgmoHeader {
  color: #154c79;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.vgmo:not(:last-child) {
  margin-bottom: 32px;
}



.sectionWithLine {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

/* Officer item styles */
.officerItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.officerImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Info frame styles */
.infoFrame {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

/* Header and footer styles */

.subFooter {
  padding: 40px;
  font-size: 12px;
  background-color: #121518;
  color: white;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.aboutTitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.aboutSubtitle {
  font-size: 12px;
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  white-space: normal;
}

.connectTitle {
  font-size: 16px;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #063970;
  color: #fff;
  font-size: 12px;
}


.verticalSections {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

/* .newsItem {

  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
} */

.rightSection {
  padding: 64px 64px 64px 64px;
  position: relative;
  background-color: white;
  border-radius: 12px;
  transition: 0.3s;
  /* Allow scrolling if content overflows */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 1.5em;
  color: #0e4296;
  position: sticky;
  top: 0;
  padding-bottom: 16px;
  background-color: white;
}

.itemHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.upcomingCont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.imgCont {
  width: 100%;
  /* Adjust as needed */
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  border: 1px solid rgba(211, 211, 211, 0.37);
}

.newsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  /* Ensures the image covers the area */
}

.newsImage:hover {
  transform: scale(1.04);
}

.newsItem {
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


.itemInfo {
  padding: 16px;
}

.itemInfo h4 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.itemInfo p {
  font-size: 14px;
  color: #606060;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.documentLink {
  display: inline-block;
  margin-top: 10px;
  color: #0e4296;
  text-decoration: underline;
  font-size: 0.9em;
}

.pagination {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #0e4296;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.pagination button:disabled {
  color: gray;
  cursor: not-allowed;
}

/* .layoutContainer {
  display: ; */
/* Two columns */
/* gap: 48px;
  width: 100%;
  position: relative; */
/* Set the parent container to relative positioning */
/* } */




.sidebarContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px;
}

/* .sidebarButton {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 16px;
} */

.leftSection {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar button {
  padding: 16px 8px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  background-color: #0e4296;
  color: white;
  transition: 0.15s;
  border-radius: 8px;
}

.sidebar button:hover {
  background-color: #0e4296bc;

}

.sSection {

  text-align: center;
  font-size: 100px;
}

.members {
  padding: 12px;
  font-size: 12px;
  background-color: #dcdbdb;
}



@media all and (max-width: 1024px) {
  .navbar {
    padding: 24px 64px;
  }

  .container {
    padding: 48px 64px;
  }

  .heroSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    gap: 24px;
  }

  .welcomeCont {
    width: 100%;
    box-shadow: none;
    order: 2;
    padding: 0;
  }

  .headers h1 {
    font-size: 28px;
    max-width: none;
  }

  .calendar {
    padding: 48px;
  }

  .layoutContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

}

@media (max-width: 768px) {
  .navbar {
    padding: 12px 32px;
    flex-direction: row;
  }

  .logo {
    width: 32px;
    height: 32px;
  }

  .titleflex {
    margin-left: 8px;
  }

  .title {
    font-size: 16px;
  }

  .subtitle {
    font-size: 12px;
  }

  .container {
    margin-top: 56px;
    padding: 32px;
  }

  .calendar {
    padding: 48px;
    max-height: none;
  }

  .welcomeCont {
    padding: 0;
  }

  .loginButton {
    font-size: 12px;
  }

  .leftSection {
    padding: 48px;
    max-height: none;
  }

  .rightSection {
    padding: 48px;
  }

  .mergedSection {
    padding: 48px;
  }

  .upcomingCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
  }


}

/* General styles for small screens */
@media (max-width: 426px) {

  .navbar {
    padding: 16px;
    flex-direction: row;
  }

  .logo {
    height: 32px;
    width: 32px;
  }

  .titleflex {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    gap: 4px;
  }

  .loginButton p {
    display: none;
  }


  .container {
    padding: 16px;
    margin-top: 67px;
  }

  .SecondContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .leftSection {
    padding: 24px;
  }

  .rightSection {
    padding: 24px;
  }

  .heroSection {
    padding: 24px;
    gap: 12px;
  }

  .getStartedBtn {
    width: 150px;
    align-items: flex-end;
  }


  .layoutContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mergedSection {
    padding: 24px;
    text-align: left;
    line-height: 1.8;
  }

  .rightSection {
    max-height: none;
    overflow-y: auto;
  }

  .calendar {
    max-height: none;
    padding: 24px;
  }

  .vgmoHeader {
    font-size: 24px;
    text-transform: capitalize;
  }

  .footer {
    margin-top: 24px;
  }

  .footer p {
    font-size: 12px;
  }

  .upcomingCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;

  }

}