/* ResetPassword.module.css */
body {
  background-color: #f5f5f5;
}

.mainCont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.resetPasswordContainer {
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.resetPasswordContainer form {
  width: 100%;
}

.backButton {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #063970;
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.passCont {
  position: relative;
  width: 100%;
}

.passCont input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

.eyeButton1 {
  position: absolute;
  padding: 8px;
  top: 50%;
  transform: translateY(-70%);
  right: 10px;
  background: white;
  border: none;
  color: #0e4296;
  /* Match your theme color */
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.eyeButton2 {
  position: absolute;
  padding: 8px;
  top: 50%;
  transform: translateY(-70%);
  right: 10px;
  background: white;
  border: none;
  color: #0e4296;
  /* Match your theme color */
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.submit {
  padding: 10px;
  background-color: #063970;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.submit:hover {
  background-color: #0056b3;
}

.submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

p.message {
  text-align: center;
  color: #28a745;
  font-size: 16px;
  margin-top: 15px;
}

p.error {
  text-align: center;
  color: #dc3545;
  font-size: 14px;
  margin-top: 15px;
}

.success {
  margin-top: -16px;
  margin-bottom: 16px;
}

.return {
  background-color: #063970;
  color: white;
  border: none;
  transition: 0.15s;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 4px;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.button {
  padding: 12px 20px;
  background-color: #063970;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
}

.cancelbutton {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  transition: 0.15s;
  cursor: pointer;
}

.btnCont button:hover {
  opacity: 0.5;
}

.pattern {
  text-align: left;
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: hsla(354, 70%, 54%, 0.10);
  border-radius: 8px;
}

.match {
  text-align: left;
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: hsla(354, 70%, 54%, 0.10);
  border-radius: 8px;
}


@media all and (max-width: 426px) {
  .mainCont {
    background-color: white;
    padding: 0;
  }

  .resetPasswordContainer {
    box-shadow: none;
    padding: 24px;
  }
}